*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.info{
    background-color: antiquewhite;
    color: aqua;
}
#mainInfo {
    background-color:rgb(185, 185, 151);
}
.prueba{
    color:black;
}
#listado li{
    list-style: circle;
    list-style-position:inside;
    background-color: rgb(173, 173, 121);
    padding: 8px;

}
#listado li:nth-child(odd){
    background-color: white;
}
#listado ul{
 margin: 10px;
}