*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.info{
    background-color: antiquewhite;

}
#mainInfo {
    background-color:rgb(185, 185, 151);

  
}
.prueba{
    color:black;
}
#listado li{
    list-style: circle;
    list-style-position:inside;
    background-color: white;
    color:black;
    height: fit-content;
    width: 100%;
    /* margin: 1px 0; */
}
#listado li:nth-child(odd){
    background-color: white;
    color:black;
   margin: 0.2em;
}
#listado{
    display: flex;
    flex-direction: column; /* Si la lista es vertical */
    justify-content:center;
    width: 100%;



}
.main-container{
    width: 35em;
    

}
.alumnos {
    display: flex;
    width: 90%;
    justify-content: center;
}

