.contenido {
    /* min-width: fit-content;  */
    width: 40em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    }  

    .listadoInfo{
        font-size: 1.2em;
        color: white;
        
      
    }
 

    .listadoInfo li{
        list-style-type:square;
  
    }

    .listadoInfo a{
        text-decoration: none;
        color: yellow;
    }