#contenedorHeader{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

#contenedorHeader h2{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
.magictime {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}