
.carrousel{
background-color: green;
/* border:0.5em dashed yellow; */
overflow: hidden;
height: 33em;
width: 40em;
}
.carousel-item img {
    transition: transform 0.5s ease-in-out; 
}

.carousel-item img:hover {
    transform: scale(1.1);
}
.carrousel h3{
    color: black;
}
.mainestilo p{
    font-size: 2em;
    font-weight: bold;
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
  padding-top: 0.2em;

}
