/* .carousel-indicators [data-bs-target] {
    border-radius: 100% gray dotted;
    width: 10px;
    height: 50%;
} */

.carrousel{
background-color: green;
/* border:0.5em dashed yellow; */
height: fit-content;
overflow: hidden;

}
.carousel-item img {
    transition: transform 0.5s ease-in-out; 

}

.carousel-item img:hover {
    transform: scale(1.1);
}