.Sidebar {
    min-width: fit-content; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    color:black;
    font-size: large;
    }  
    .Sidebar h1{
        font-size: 1.6em;
    }
    u{
        text-decoration-color: blueviolet;
    }